
{% extends 'scheme.html' %}
{% block title %}Success{% endblock %}
{% block content %}
<br/>
<div class='blog-box'> 
    <div class='row'>
        <div class='col-12'>
            <h1 class='h1-1'>Thanks for contacting me</h1>
            <h3 class='h3-3'> 
                You should receive a reply soon!
            </h3>

            <p class='p-p'>Click the Home button to go back to the home page</p>

            <button class='btn-cust btn-cust-color' onclick="window.location.href='{% url 'index' %}'"> Home </button>
        </div>
    </div>
</div>
<br/>

{% endblock %}